<center>
Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('data/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
# Ваш код здесь
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [4]:
# Ваш код здесь
round(data[data['sex']=='Female']['age'].mean(), 2)

36.86

**3. Какова доля граждан Германии (признак *native-country*)?**

In [5]:
# Ваш код здесь
data['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [6]:
print('{:.2f} %'.format(data['native-country'].value_counts(normalize=True)['Germany']*100))

0.42 %

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [7]:
# Ваш код здесь
data[['age', 'salary']].groupby('salary').agg(['mean', 'std']).apply(lambda x: round(x, 1))

         age
        mean   std
salary
<=50K   36.8  14.0
>50K    44.2  10.5

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [8]:
# Ваш код здесь
data['salary'].unique()

array(['<=50K', '>50K'], dtype=object)

In [9]:
high_school = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
data[data['salary']=='>50K']['education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

In [10]:
data[data['salary']=='>50K']['education'].isin(high_school).all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [11]:
# Ваш код здесь
data.groupby(['race', 'sex']).describe()['age']

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [12]:
data['is_married'] = data['marital-status'].str.contains('Married') #sales_df = df[[x for x in df.columns if 'Sales' in x]
data.head(3)

   age         workclass  fnlwgt  ... native-country  salary is_married
0   39         State-gov   77516  ...  United-States   <=50K      False
1   50  Self-emp-not-inc   83311  ...  United-States   <=50K       True
2   38           Private  215646  ...  United-States   <=50K      False

[3 rows x 16 columns]

In [13]:
# Ваш код здесь
#data[['salary', 'is_married']].groupby('is_married').count()
data[data['sex']=='Male'].pivot_table(index='is_married', columns='salary', aggfunc='count')['sex']

salary      <=50K  >50K
is_married
False        7552   697
True         7576  5965

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [14]:
# Ваш код здесь
print('Максимальное число часов человек работает в неделю:', data['hours-per-week'].max())
print()
print('Сколько людей работает такое количество часов:', data[data['hours-per-week']==data['hours-per-week'].max()]['salary'].count())
print()
data[data['hours-per-week']==data['hours-per-week'].max()]['salary'].value_counts(normalize=True).apply(lambda x: '{:.0f} %'.format(100*x))

Максимальное число часов человек работает в неделю: 99

Сколько людей работает такое количество часов: 85

<=50K    71 %
>50K     29 %
Name: salary, dtype: object

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [15]:
# Ваш код здесь
data_by_salary_and_hours_per_week = data[['salary', 'native-country', 'hours-per-week']].groupby(['native-country', 'salary']).mean()
data_by_salary_and_hours_per_week.head()

                       hours-per-week
native-country salary
?              <=50K        40.164760
               >50K         45.547945
Cambodia       <=50K        41.416667
               >50K         40.000000
Canada         <=50K        37.914634

Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии?

In [16]:
data_by_salary_and_hours_per_week.loc['Japan']

        hours-per-week
salary
<=50K        41.000000
>50K         47.958333